<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BK PRINT</title>
    <link rel="stylesheet" href="./asset/font/fontawesome/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="./asset/css/nav_css.css">
    <link rel="stylesheet" href="./asset/css/style.css">
</head>
<body>
    <nav class="nav">
        <a href="index.html"><h2 class="logo">BK PRINT</h2></a>

        <div class="user">
            <span class="budget">Số dư: <span class="quantity">75</span> Trang</span>
            
            <div class="user_info">
                <div class="user_icon">
                    <i class="fa-solid fa-user"></i>
                </div>
    
                <span class="user_name"><%= username? username : "Hãy Đăng Nhập" %></span>

            </div>

            <div class="user_info--hidden">
                <span class="info">MSSV: <span class="info--mssv">2110509</span></span>
                <span class="info">Khoa: <span class="info--khoa">Khoa học và Kỹ thuật Máy tính</span></span>
    
                <div class="info-button">
                    <button type="button" class="button" onclick="window.location.href='/history'">Lịch sử</button>
                    <button type="button" class="button" onclick="window.location.href='/home'">Thay đổi thông tin</button>
                    <button onclick="window.location.href='/logout'" type="button" class="button button_logout">Đăng xuất</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- <div class="content">   
        <div>
            <h4 class="<%= styleClass %>"><%= fileUploadMessage %></h4>
            <% if (canRedirectNextPage) { %>
                <a href="/home">Đến Trang Tùy Chỉnh</a>
            <% } %>
        </div>
    </div> -->

    <article class="content">
        <% if (fileUploadMessage) { %>
            <div id="notification-landing-page">
                <h4 id="<%= styleClass %>"><%= fileUploadMessage %></h4>
                <% if (canRedirectNextPage) { %>
                    <a style="margin-left: 9em;font-size: large;" href="/select">Đến Trang Tùy Chỉnh</a>
                <% } %>
            </div>
        <% } %>

        <div class="container" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
            <h1 class="logo logo_header">BK PRINT</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data" accept=".pdf,.docx,.txt,.rtf">
                <input type="file" multiple class="print" value="Đặt in ngay!" name="filecontent" id="filechosen">
                <button type="submit" class="input_file">
                    Tải tệp lên
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
            </form>
            <span class="file_text">(hoặc kéo thả tệp vào đây)</span>
        </div>
    </article>

    <script src="./asset/js/main.js"></script>
    <script src="./asset/js/dragFile.js"></script>
</body>
</html>